# ESP32-S3 SuperMini (Nologo), chip ESP32-S3FH4R2: 4 MB in-package flash,
# 2 MB in-package quad PSRAM.
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y
